.note {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50vw;
    border-radius: 1vh;
    /* border: 2px solid black; */
    padding: 10px;
  }

  .h1 {
      color: white;
  }

  button {
      height: 25px;
      margin: 10px;    
  }

  @media only screen and (max-width: 600px) {
    .note {
        margin-bottom: 10px;
        margin-top: 5px;
        width: 85vw;
        padding: 5px;
      }


  }