.App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 7vmin auto;
  }
  
  .App-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vmin;
    font-size: 2.5vmin;
    color: white;
    font-family: 'Chilanka', cursive;
  }
  
  .App main {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .App main h1 {
    color: white;
    margin-bottom: 5vmin;
  }